/* Khai báo */
:root {
    --while-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    cursor: default;
}

.padding {
    padding-right: 0px;
}

.width {
    width: 1240px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.width2 {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.width__row {
    display: flex;
    flex-wrap: wrap;
}

.width_column_4 {
    width: 23%;
    cursor: pointer;
    display: inline-block;
}

.width_column_3 {
    width: 500px;
    cursor: pointer;
    display: inline-block;
}

.display {
    display: none !important;
}

.display_none {
    display: block !important;
}

.background {
    background-color: white;
}

/* Chuyển động */

@keyframes gift {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes gift1 {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* Reset css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


/* Header1 */

.header1 {
    display: flex;
    font-size: 13px;
    background-color: #f0f2f5;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 2px solid red;
    height: 43px;
}

.header1 a {
    text-decoration: none;
    color: var(--text-color);
}

.header_content1 {
    display: flex;
    justify-content: space-between;
}

.header1_left ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.header1_left ul li {
    padding-right: 20px;
    color: var(--text-color);
    transition: background-color .3s;
}

.header1_left ul li:hover {
    color: blue;
}

.header1_left ul li i {
    color: blue;
    padding-right: 5px;
    font-size: 16px;
}

.header1_right ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.header1_right ul li {
    padding-left: 20px;
    color: var(--text-color);
}

.header1_right ul li a i {
    font-size: 16px;
}

.header1_right ul li:last-child {
    color: blue;
}

/* Tìm kiếm */
.btn_search:hover .search {
    display: flex !important;
}

.search {
    position: absolute;
    /* top: 43px; */
    display: none !important;
    height: 50px;
    width: 300px;
    display: flex;
    background-color: white;
    padding: 0 10px;
}

.search input {
    height: 30px;
    width: 100%;
    margin: 10px 0px;
    box-sizing: border-box;
    outline: none;
    border: 0.5px solid rgb(180, 176, 176);
    border-radius: 5px;
    padding: 0 10px;
}

.search button {
    height: 30px;
    margin-top: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.search i {
    height: 30px;
    line-height: 30px;
    padding-right: 0px !important;
    box-sizing: border-box;
    align-items: center;
    color: blue !important;
    align-items: center;
}

/* Header2 */
.header2 {
    background-color: #0064d2;
}

.header2_content {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.header2_left ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
}

.header2_left ul a {
    padding-right: 20px;
    color: white;
    text-decoration: none;
}


.header2_left ul a li h2 {
    font-family: cursive;
    padding-right: 20px;
}

.header2_right a {
    display: flex;
    align-items: center;
    color: yellow;
    text-decoration: none;
}

.header2_right a i {
    padding-right: 10px;
    font-size: 20px;
}

/* Welcome */
.welcome {
    background-color: #f0f2f5;
    margin-bottom: -50px;
    padding-top: 43px;
}

.welcome1 img {
    width: 100%;
    height: 425px;
}

.welcome2_content {
    position: relative;
    top: -100px;
}

.welcome2_content img {
    border-radius: 20px;
    margin: 10px;
    box-sizing: border-box;
    border: 2px solid red;
}

.welcome2_content img:hover {
    border-color: #0064d2;
    position: relative;
    top: -10px;
}

/* Body */

.body {
    background-color: #f0f2f5;
}

.body_content_outstanding {
    margin-bottom: 50px;
}

.body_content_outstanding h1 {
    text-align: center;
    font-size: 45px;
    margin: 0;
    margin-bottom: 50px;
}

.outstanding {
    display: flex;
    overflow-x: scroll;
    list-style: none;
    padding: 0;
    margin: 0;
}


.outstanding1 {
    width: 380px;
    margin-right: 20px;
    background-color: white;
    padding: 0 10px;
    font-size: 14px;
    padding-bottom: 10px;
}

.outstanding1 a {
    text-decoration: none;
}

.outstanding1_a {
    text-decoration: none;
    color: black;
}

.outstanding1 p {
    text-align: justify;
    height: 100px;
}


.outstanding1 img {
    width: 380px;
    height: 250px;
    overflow: hidden;
    margin: 0 -10px;
}

.outstanding1 h2 {
    height: 50px;
    overflow: hidden;
    text-align: justify;
}

/* Content */

.body_content_main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.body_content_main_left {
    flex: 3;
}

.body_content_main_right {
    flex: 1;
}

.body_content_main_left>h1 {
    color: blue;
    border-bottom: 1px solid rgb(180, 176, 176);
    padding-bottom: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    font-size: 30px;
}

.main_left_ul {
    list-style: none;
    padding: 0;
}

.main_left_li {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(180, 176, 176);
    margin-right: 10px;
}

.main_left_li:last-child {
    border-bottom: none;
}

.main_left_li_content {
    display: flex;
}

.main_left_li_content img {
    height: 200px;
    width: 300px;
}

.main_left_li_content p {
    font-size: 14px;
    padding: 20px;
    margin: 0;
    padding-top: 0px;
    height: 160px;
}

.main_left_li_content_right span a {
    text-decoration: none;
    padding-left: 20px;
    font-size: 14px;
    color: blue;
}

.body_content_main_right1 {
    border: 1px solid rgb(180, 176, 176);
    padding: 0 10px;
    margin-bottom: 20px;
}

.body_content_main_right1 ul li {
    font-size: 14px;
}

.body_content_main_right h1 {
    background-color: blue;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    margin: 0;
    margin: 0 -10px;
}

.body_content_main_right p {
    font-size: 14px;
}

.body_content_main_right p span {
    font-size: 20px;
    color: blue;
}

.body_content_main_right h2 i {
    color: blue;
    margin-right: 10px;
}

.main_right1_top_ul {
    padding: 0 20px;
    font-size: 20px;
    color: blue;
}

.main_right1_top_ul li {
    border-bottom: 1px solid rgb(180, 176, 176);
    padding-bottom: 10px;
}

.main_right1_top_ul li:last-child {
    border-bottom: none;
}

.main_right1_top_ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px !important;
}

.main_right1_top_li a span {
    text-align: right;
    margin-top: 5px;
    display: block;
    color: #0064d2;
}

/* Phân trang */
.container {
    width: 500px;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.pagination {
    width: 400px;
    margin-left: 50px;
    font-size: 14px;
}

.pagination a {
    display: block;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* Footer */

.footer {
    background-color: #0c121c;
}

.footer1 {
    height: 150px;
    background-color: #0064d2;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 40px 40px;
    position: relative;
    top: -30px;
    box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.footer1_left {
    flex: 1;
}

.footer1_left h1 {
    color: white;
    font-size: 25px;
}

.footer1_left p {
    color: white;
    font-size: 16px;
    line-height: 50px;
}

.footer1_right {
    flex: 1;
    align-items: center;
}

.footer1_right1 {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
}

.footer1_right2 {
    display: block;
    margin: 0px;
    color: blue;
    font-size: 14px;
    font-weight: 400;
}

.footer1_right1 input {
    outline: none;
    height: 38px;
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 16px;
    flex: 1;
}

.footer1_right1 button {
    height: 38px;
    width: 177px;
    border: none;
    padding: 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #6a9ccf;
    margin-left: 10px;
    color: white;
    font-weight: 550;
    font-size: 16px;
    cursor: pointer;
}

.footer1_right_button:hover {
    opacity: 0.7;
}

.footer2 {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer2_left {
    flex: 1;
    background-image: url(https://dulichtoday.vn/wp-content/uploads/2017/04/vinh-Ha-Long.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.footer2_center {
    flex: 2;
    padding: 0 40px;
    box-sizing: border-box;
    color: white;
}

.footer2_center h1 {
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}

.footer2_center p span {
    color: yellow !important;
}

.footer2_center p {
    font-size: 16px;
    line-height: 25px;
}

.footer2_right {
    flex: 1;
    background-image: url(https://media.vov.vn/sites/default/files/styles/large/public/2020-09/99-thuyen_hoa.jpg);
    background-size: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.footer2_lienLe {
    display: flex;
    align-items: center;
}

.footer2_lienLe ul {
    margin: 0;
}

.footer2_lienLe ul {
    padding: 0;
    padding-left: 50px;
    display: flex;
}

.footer2_lienLe ul li {
    list-style: none;
}

.footer2_lienLe ul li a {
    text-decoration: none;
    font-size: 20px;
    padding-right: 15px;
    color: white;
    line-height: 37px;
}


.footer3 {
    background-color: #0d192e;
    padding: 5px 0;
    box-sizing: border-box;
    color: white;
    display: flex;
}

.footer3 p {
    font-size: 12px;
    margin: 0;
    line-height: 20px;
}

.footer3 span {
    font-weight: 550;
    font-size: 12px;
}

.footer3_left {
    flex: 1;
    text-align: center;
    align-items: center;
    margin: auto;
}

.footer3_left a {
    text-decoration: none;
    color: white;
}

.footer3_center {
    margin: auto;
    text-align: center;
    align-items: center;
    flex: 1;
}

.footer3_right {
    flex: 1;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
}

.footer3_right p {
    cursor: text;
}

.footer3_right a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.footer3_right i {
    padding-right: 10px;
}

/* Phone */

.hotline-phone-ring-wrap {
    position: fixed;
    bottom: 70px;
    right: 0;
    z-index: 999999;
}

.hotline-phone-ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    left: 0;
    bottom: 0;
    display: block;
}

.hotline-phone-ring-circle {
    width: 85px;
    height: 85px;
    top: 10px;
    left: 10px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #e60808;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.5;
}

.hotline-phone-ring-circle-fill {
    width: 55px;
    height: 55px;
    top: 25px;
    left: 25px;
    position: absolute;
    background-color: rgba(230, 8, 8, 0.7);
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.hotline-phone-ring-img-circle {
    background-color: #e60808;
    width: 33px;
    height: 33px;
    top: 37px;
    left: 37px;
    position: absolute;
    background-size: 20px;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotline-phone-ring-img-circle .pps-btn-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.hotline-phone-ring-img-circle .pps-btn-img img {
    width: 20px;
    height: 20px;
}

.hotline-bar {
    position: absolute;
    background: rgba(230, 8, 8, 0.75);
    height: 40px;
    width: 180px;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    background-size: 100%;
    cursor: pointer;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    z-index: 9;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px !important;
    left: 33px;
    bottom: 37px;
}

.hotline-bar>a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-indent: 50px;
    display: block;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: Arial;
}

.hotline-bar>a:hover,
.hotline-bar>a:active {
    color: #fff;
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.5) skew(1deg);
        -webkit-opacity: 0.1;
    }

    30% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        -webkit-opacity: 0.5;
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: 0.1;
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.6;
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.6;
    }

    100% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.6;
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}

.hotline-bar {
    display: none;
}